<p id="notice"><%= notice %></p>

</br>
<h1 class='title is-3'>Posts</h1>

<table class='table is-hoverable'>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.description %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="field is-grouped">
  <div class="control">
    <%= link_to 'New Post', new_post_path, class: 'button is-link' %>
  </div>
  <div class="control">
    <%= link_to 'Back', root_path, class: 'button is-link is-light' %>
  </div>

